<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <table class="table" border="1px black solid">
                <thead>
                    <tr class="pl=5">
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody class="pl-5">
                    {{#each userData}}
                        <tr class="pl-5">
                            <td>{{this.id}}</td>
                            <td>{{this.username}}</td>
                            <td>{{this.email}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <a href="/add"><button type="button" class="btn btn-primary">Add new user</button></a>
</body>
</html>